
Verified blue badge 
<a href="https://www.freepik.com/icon/social-media_15050690#fromView=search&page=1&position=17&uuid=48699d25-7d9d-4820-a0e9-aca70c532e8f">Icon by QudaDesign</a>

Verified gold badge
<a href="https://www.freepik.com/icon/high-quality_18575882#fromView=search&page=1&position=37&uuid=deeffad6-c449-4d79-a133-53168c15c726">Icon by agus raharjo</a>

Diamond verified badge
<a href="https://www.freepik.com/icon/protect_18676565#fromView=search&page=1&position=31&uuid=effe3c3b-a3d2-413f-8ed1-efae0b66c8b7">Icon by Metami septiana</a>